<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>瑾瑜网盘系统</title>
    <link rel="stylesheet" href="../signin.css">
</head>
<body>
    <div class="content">
        <div class="login-wrapper">
            <div class="left-img">
                <div class="glass">
                    <div class="tips">
                        <div class="title" style="font-size: xx-large;color: rgb(251, 236, 222);">
                            瑾瑜
                        </div>
                        <h1>欢迎体验</h1>
                        <span>分布式网盘系统</span>
                        <span>安全·稳定·快速·可靠</span>
                    </div>
                </div>
            </div>
            <div class="right-login-form">
                <div class="form-wrapper">
                    <h1>Log in</h1>
                    <div class="input-items">
                        <span class="input-tips">
                            Email Address
                        </span>
                        <input type="text" class="inputs" id="email" placeholder="Enter your email">
                    </div>
                    <div class="input-items">
                        <span class="input-tips">
                            Password
                        </span>
                        <input type="password" class="inputs" id="password" placeholder="Enter password">
                        <span class="forgot">Forgot Password</span>
                    </div>
                    <button class="login-btn">Log in</button>
                    <div class="siginup-tips">
                        <span>Don't Have An Account?</span>
                        <span>Signup</span>
                    </div>
                    <div class="other-login">
                        <div class="divider">
                            <span class="line"></span>
                            <span class="divider-text">or</span>
                            <span class="line"></span>
                        </div>
                        <div class="other-login-wrapper">
                            <div class="other-login-item">
                                <img src="../asset/QQ.png" alt="QQ">
                            </div>
                            <div class="other-login-item">
                                <img src="../asset/WeChat.png" alt="WeChat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    const loginBtn = document.querySelector('.login-btn')

    loginBtn.addEventListener('click',function (){
        var username = document.getElementById('email');
        var password = document.getElementById('password');
        console.log("用户名："+username.value+"   密码："+password.value)

        $.ajax({
            url: "/user/signin",
            type: "POST",
            data: {
                "username": username.value,
                "password": password.value
            },
            error: function (err) {
                alert(err);
            },
            success: function (body) {
                localStorage.setItem("token", body.data.Token)
                localStorage.setItem("username", body.data.Username)
                // 增加上传入口ip:port
                localStorage.setItem("uploadEntry", body.data.UploadEntry);
                // 增加下载入口ip:port
                localStorage.setItem("downloadEntry", body.data.DownloadEntry);
                window.location.href = body.data.Location;
            }
        });
    })




</script>
</html>